In [1]:
import pandas as pd

In [6]:
lst = ['f','2','k',2,'000']
s1 = pd.Series(lst)

In [7]:
s1

0      f
1      2
2      k
3      2
4    000
dtype: object

In [10]:
s1[2]

'k'

In [15]:
s1.size

5

In [17]:
s1.head(2)

0    f
1    2
dtype: object

In [18]:
s1.tail(2)

3      2
4    000
dtype: object

In [22]:
s1.values.itemsize

8

In [2]:
import pandas as pd

In [3]:
df=pd.DataFrame({"temp_c":[37,38]},index=["Malaysia","Maldives"])
df

          temp_c
Malaysia      37
Maldives      38

In [5]:
df.assign(temp_f=df["temp_c"]*(9/5)+32)

          temp_c  temp_f
Malaysia      37    98.6
Maldives      38   100.4

In [6]:
import numpy as np

In [7]:
n1=np.array([1,2,3,4,5,6])

In [9]:
print(type(n1))

<class 'numpy.ndarray'>

In [10]:
sample_df = pd.read_csv(r"D:\Study\Python\Sample_dataset.csv")

In [11]:
sample_df

   Sr. no. First Name  Last Name  Age Qualification
0        1       Joe    Williams   25            MCA
1        2     Oliver      Trump   24         B.TECH
2        3      Sagar      Dubey   25            BCA
3        4       Liaa    Edwards   26            MBA
4        5      Mansi  Deshpande   22             CA
5        6      Rocky      Lewis   21            BCA
6        7      Harry     Harris   23          B.COM
7        8       Tina     Bailey   28             BA
8        9       Ansh    Shriwas   29         M.TECH
9       10    Michael      Davis   29            MBA

In [12]:
sample_df.describe()

        Sr. no.        Age
count  10.00000  10.000000
mean    5.50000  25.200000
std     3.02765   2.820559
min     1.00000  21.000000
25%     3.25000  23.250000
50%     5.50000  25.000000
75%     7.75000  27.500000
max    10.00000  29.000000

In [2]:
import pandas as pd

In [4]:
data_df = pd.read_csv(r"D:\Study\Python\data.csv")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x98 in position 16: invalid start byte

In [ ]:
AAAAAAAAA