In [3]:
import pandas as pd

In [4]:
df = pd.read_csv(r"C:\Users\Shubham Thakkar\OneDrive\Desktop\data.csv")

In [5]:
df

         Date   Open   High    Low  Close
0  2022-01-01  100.0  105.0   98.5  102.5
1  2022-01-02  102.5  107.2  101.0  105.8
2  2022-01-03  105.8  108.0  103.5  106.2
3  2022-01-04  106.2  110.5  105.8  109.0
4  2022-01-05  109.0  112.8  108.5  111.2
5  2022-01-06  111.2  115.0  110.5  113.5

In [6]:
def moving_average(data, window_size):
    return data.rolling(window=window_size).mean()

In [33]:
moving_average(df['Close'],4)

0        NaN
1        NaN
2        NaN
3    105.875
4    108.050
5    109.975
Name: Close, dtype: float64

In [8]:
df['Open']

0    100.0
1    102.5
2    105.8
3    106.2
4    109.0
5    111.2
Name: Open, dtype: float64

In [9]:
a = df['Open']

In [30]:
is_palindrom()

Enter your string:  A man a plan a canal Panama

True

In [4]:
# area of circle

def area_of_circle(r):
    return (22/7)*r*r

print(area_of_circle)

<function area_of_circle at 0x00000272C681C180>

In [5]:
area_of_circle(2)

12.571428571428571

In [7]:
def f_to_c(f):
    return (f-32)*(5/9)

print(f_to_c)

<function f_to_c at 0x00000272C5F5B420>

In [8]:
f_to_c(104)

40.0

In [24]:
p = input("Enter Your String: ")

def pelind(p):
    p = p.lower().replace(" ","")
    return p == p[::-1]

pelind(p)

Enter Your String:  ABC ba

True

In [26]:
a = "Recursive function to check if a"

In [27]:
len(a.split())

6

In [1]:
a = 5
b = 3
sum = a+b
print(sum)

8

In [20]:
a = 10
b = 20
c = 30

def maxim(a,b,c):
    if a>b and a>c:
        return a
    elif b>a and b>c:
        return b
    else:
        return c
    # return maxim(a,b,c)
print(maxim(a,b,c))

30

In [6]:
maxim(10,50,30)

50 is max

In [10]:
a = int(input())
b = int(input())

def sum1(a,b):
    return a+b
    print(sum1)

def mult(a,b):
    return a*b
    print(mult)

print("sum is: ",sum1(a,b))
print("multiplication is: ",mult(a,b))

 5
 5

sum is:  10
multiplication is:  25

In [16]:
number = int(input())

print(number,number+1)

 4

4 5

In [23]:
n = int(input())

for i in range(0,n):
    print("current number is",i,"and previous number is",i-1,"sum:",i+(i-1))
    i+1

 10

current number is 0 and previous number is -1 sum: -1
current number is 1 and previous number is 0 sum: 1
current number is 2 and previous number is 1 sum: 3
current number is 3 and previous number is 2 sum: 5
current number is 4 and previous number is 3 sum: 7
current number is 5 and previous number is 4 sum: 9
current number is 6 and previous number is 5 sum: 11
current number is 7 and previous number is 6 sum: 13
current number is 8 and previous number is 7 sum: 15
current number is 9 and previous number is 8 sum: 17

In [34]:
n = str(input())

for i in n[1::2]:
    print(i)

 sshhuubbhhaamm

s
h
u
b
h
a
m

In [54]:
for i in range(0,5):
    for j in range (0,i+1):
        print(i+1,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [56]:
num = 233.124134124
print(round(num),2\)

233 2